{
  presets: [
    ['env', { targets: { chrome: 62 }, modules: false }],
  ],
  plugins: [
    'transform-object-rest-spread',
  ],
  env: {
    production: {
      presets: ['minify'],
    },
  },
}
